*,
::before,
::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
  display: flexbox;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  top:0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#header {
  background-color: #333;
  height:80px;
  width:100%;
  font-weight: bold;
  font-size:50px;
  text-align: center;
  position:fixed;
  top:0px;
  z-index:7;
}
#logo {
  top:2px;
  position:relative;
  padding: 0px 0px;
}

.container-fluid{
  padding-top: 100px;
  background-color: #444;
  color: white;
  text-align: center;
}
.col,.col-8,.col-1,.col-6{
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

#Titre{
  color:white;
  font-weight: 700;
  height: 700px;
  font-size: 50px;
  text-align: center;
  background-image: url(images/Vieux-Quebec_Haute-Ville_Nuit.jpg) ;
  background-size:cover;
  background-repeat: no-repeat;
  background-position-x: center;
}



#ref{
  color:white;
  text-decoration: none;
}

#contenu{
  height: 100px;
  color:white;
  text-decoration: none;
  font-size: large;
  align-content: center;
}

#contenu:hover, h1:hover, a:hover {
  background-color: #111;
  text-decoration: none;
}

#carte{
  z-index: 1;
  height: 800px;
}

#Presentation{
  font-size:20px;
  font-weight:500;
  text-align: left;
}

#PresentationTexte{
  text-align: left;
}

#Photos{
  height: 700px;
  align-content: center;
}